# Exploratory Analysis

In [29]:
import os
import numpy as np
import pandas as pd
import plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [3]:
cases = pd.read_csv("covid_prison_cases.csv")
rates = pd.read_csv("covid_prison_rates.csv")

Take a subset of the cases data (just the cumilitive case numbers for the Jan 5th timestamp).

In [4]:
latest_cases = cases[cases['as_of_date']=='01/05/2021']

In [5]:
latest_cases.head()

,name,abbreviation,staff_tests,staff_tests_with_multiples,total_staff_cases,staff_recovered,total_staff_deaths,prisoner_tests,prisoner_tests_with_multiples,total_prisoner_cases,prisoners_recovered,total_prisoner_deaths,as_of_date,notes
1,Alaska,AK,NaN,NaN,NaN,NaN,NaN,NaN,17155.0,2153.0,NaN,5.0,01/05/2021,NaN
2,Arizona,AZ,NaN,NaN,1930.0,1539.0,NaN,NaN,43016.0,7608.0,5781.0,39.0,01/05/2021,NaN
3,Arkansas,AR,NaN,NaN,NaN,NaN,4.0,NaN,NaN,10741.0,10455.0,51.0,01/05/2021,NaN
4,California,CA,NaN,NaN,12993.0,8962.0,11.0,NaN,115726.0,41562.0,33784.0,139.0,01/05/2021,NaN
5,Colorado,CO,NaN,NaN,1316.0,NaN,0.0,17800.0,133447.0,7512.0,NaN,25.0,01/05/2021,NaN

Set up the data and layout arguments for the choropleth map.

In [6]:
data = dict(type='choropleth',
            locations = latest_cases['abbreviation'],
            locationmode = 'USA-states',
            colorscale = 'Reds',
            text = latest_cases['name'],
            z = latest_cases['total_prisoner_cases'],
            colorbar = {'title':"Total Prisoner Cases by State"}
            )

In [7]:
layout = dict(title = 'Total Prisoner Cases by State',
              geo = dict(scope='usa')
             )

Create and display the choromap for this particular point in time.

In [23]:
choromap = go.Figure(data = [data],layout = layout)

In [24]:
if not os.path.exists("images"):
    os.mkdir("images")

In [30]:
img_bytes = choromap.to_image(format="png", engine="kaleido")

ValueError:
Image export using the "kaleido" engine requires the kaleido package,
which can be installed using pip:
    $ pip install -U kaleido

In [14]:
iplot

TypeError: iplot() missing 1 required positional argument: 'figure_or_data'

Now, what I'd like to do is display the same map for each timepoint to show how the case count changed over time, but instead of having a dozen different maps, I'll just encode this information in a dynamic slider.

In [5]:
data = dict(type='choropleth',
            locations = cases['abbreviation'],
            locationmode = 'USA-states',
            colorscale = 'Reds',
            text = cases['name'],
            z = cases['total_prisoner_cases'],
            colorbar = {'title':"Total Prisoner Cases by State"}
            )

In [6]:
steps = []
for i in range(len(data)):
    step = dict(method='update',
                args=['visible', [False] * len(data)],
                label='Timestamp {}'.format(i))
    step['args'][1][i] = True
    steps.append(step)

sliders = [dict(active=0,
                pad={"t": 1},
                steps=steps)]

In [7]:
layout = dict(title = 'Total Prisoner Cases by State',
              geo = dict(scope='usa', sliders=sliders)
             )

In [ ]:
choromap = go.Figure(data = [data],layout = layout)
iplot(choromap)